.thumbnailList{
  text-align: center;
}
.thumbnailMain{
    margin-bottom: 25px;
}

.thumbnail-image{
  height: 100%;
  width: 100%;
}

.thumbnail-title{
  background-color: #FFFFFF;
  color: #333;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  padding: 5%;
  margin-bottom: 25px;
}

.quiz-type{
  text-align: left;
  border-bottom: 4px solid rgba(248,231,28,0.80);
}
.quiz-type small{
    color: #F5A623;
    font-weight: bold;
}


@media (min-width: 750px){
  .thumbnailMain{
    max-width:100%;
  }
}
@media (min-width: 970px){
  .thumbnailMain{
    max-width:70%;
    margin: auto;
  }
}
@media (min-width: 1170px){
  .thumbnailMain{
    max-width:70%;
    margin: auto;
  }
}
